# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Aaron Tye (atye)
# Alankar Verma (alankar-verma)
# Alexander Hoppe (hoppea2)
# Alik Saring (alikdell)
# Bahubali Jain (bpjain2004)
# Chaganti Rajitha (chaganti-rajitha)
# Florian Coulombel (coulof)
# Francis Nijay (francis-nijay)
# Harish P (harishp8889)
# Luna Xu (xuluna)
# Niranjan N (niranjan-n1)
# Pooja Prasannakumar (kumarp20)
# Prsanna Muthukumaraswamy (prablr79)
# Rajshree Khare (khareRajshree)
# Samihan Deshmukh (samihan-dell)
# Satya Narayana Konduri (satyakonduri)
# Shayna Finocchiaro (shaynafinocchiaro)
# Trevor Dawe (tdawe)

# for all files:
* @kumarp20 @bpjain2004 @francis-nijay @harishp8889 @prablr79 @hoppea2 @tdawe @coulof @shaynafinocchiaro @xuluna @alikdell @atye @alankar-verma @chaganti-rajitha @niranjan-n1 @khareRajshree @samihan-dell @satyakonduri
