# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Alexander Hoppe (hoppea2)
# Alik Saring (alikdell)
# Aaron Tye (atye)
# Bahubali Jain (bpjain2004)
# Francis Nijay (francis-nijay)
# Harish P (harishp8889)
# Pooja Prasannakumar (kumarp20)
# Prsanna Muthukumaraswamy (prablr79)
# Trevor Dawe (tdawe)
# Florian Coulombel (coulof)
# Shayna Finocchiaro (shaynafinocchiaro)
# Luna Xu (xuluna)
 

# for all files:
* @kumarp20 @bpjain2004 @francis-nijay @harishp8889 @prablr79 @hoppea2 @tdawe @coulof @shaynafinocchiaro @xuluna @alikdell @atye
