name: Release Gobrick
# Invocable as a reusable workflow
# Can be manually triggered
on:  # yamllint disable-line rule:truthy
  workflow_call:
  workflow_dispatch:
    inputs:
      option:
        description: "Select type of release. If first release, use major and it will release v1.0.0."
        required: true
        type: choice
        default: "minor"
        options:
          - major
          - minor
          - patch
          - version
      version:
        description: "Specific semver version to release. Only used when 'version' is the selected option. Example: v2.1.x."
        required: false
        type: string
  repository_dispatch:
    types: [release-go-libs]

jobs:
  # This job is to update the commits of the dependent libraries for Gobrick library
  package-update:
    uses: dell/common-github-actions/.github/workflows/update-libraries.yml@main
    name: Dell Libraries Update
    secrets: inherit
  csm-release:
    needs: [package-update]
    name: Release Go Client Libraries
    uses: dell/common-github-actions/.github/workflows/csm-release-libs.yaml@main
    with:
      option: ${{ inputs.option || 'minor' }}
      version: ${{ inputs.version || '' }}
    secrets: inherit
